<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web20</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdmainProductServlet</display-name>
    <servlet-name>AdmainProductServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainProductServlet</servlet-name>
    <url-pattern>/admainProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmainAddProductUIServlet</display-name>
    <servlet-name>AdmainAddProductUIServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainAddProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainAddProductUIServlet</servlet-name>
    <url-pattern>/admainAddProductUIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmainAddProductServlet</display-name>
    <servlet-name>AdmainAddProductServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainAddProductServlet</servlet-name>
    <url-pattern>/admainAddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmainDelProductServlet</display-name>
    <servlet-name>AdmainDelProductServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainDelProductServlet</servlet-name>
    <url-pattern>/admainDelProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmainUpdateProductServlet</display-name>
    <servlet-name>AdmainUpdateProductServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainUpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainUpdateProductServlet</servlet-name>
    <url-pattern>/admainUpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmainEditProductServlet</display-name>
    <servlet-name>AdmainEditProductServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainEditProductServlet</servlet-name>
    <url-pattern>/admainEditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmainSearchProductListServlet</display-name>
    <servlet-name>AdmainSearchProductListServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.AdmainSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmainSearchProductListServlet</servlet-name>
    <url-pattern>/admainSearchProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.ai.web.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
</web-app>