<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">
	<!-- 创建方式1：空参构造 scope默认值是：singleton(单利，在容器中只会创建一个实例) prototype(跟单利相反，每次获得时才会创建，并且每次创建都是新的对象) -->
	<bean name="user" class="com.zl.spring.bean.User"
		init-method="init" destroy-method="destroy"></bean>
	<!-- 创建方式2：静态工厂创建 -->
	<bean name="user2" class="com.zl.spring.create.UserFactory"
		factory-method="createUser"></bean>
	<!-- 创建方式3：实例工厂创建 -->
	<bean name="user3" factory-bean="userFactory"
		factory-method="createUser2"></bean>
	<bean name="userFactory" class="com.zl.spring.create.UserFactory"></bean>
</beans>